body {
	color:  inherit;
	text-decoration: none;
	background: linear-gradient(280deg, rgba(253,253,255,1) 0%, rgba(78,145,230,1) 10%, rgba(229,178,235,1) 100%);
	}

header {
	margin-left: 300px;
	font-family: 'Poppins', sans-serif;
	color:  black;
	display: block;
	border-radius: 20px 20px 0 0;
	padding-top: 20px;
}

header > img{
	padding-right: 260px;
}

header > a {
	justify-content: right;
	color:  inherit;
	cursor: pointer;
	margin-right: 20px;
	text-decoration: none;
}

header > button:hover {
	background-color: #A8CBFB;
	text-decoration:none;
}

header > button {
	align-content: right;
	margin-top: 10px;
	color: #4E91E6;
	border: none!important;
	border-radius: 50px;
	font-size: 15px;
	padding: 15px 32px;
	background-color: white;
	cursor: pointer;
}

/*Texto da lateral esquerda*/

.content-text{
	padding-top: 100px;
	margin-left: 300px;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	border-radius: 0 0 20px 20px;

	height: 400px;
}

.content-text > h1 {
	font-family: 'Poppins', sans-serif;
	color: #4E91E6;

}

.content-text > a {
	text-decoration: none;
	color:  blue;
}

.content-img {
	float: right;
	margin-left: 400px;
	margin-top: -350px;
}
